* {
    font-family: 'Roboto Condensed', sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
    /*width: 3000px;*/
}

.container {
    display: flex;
    margin-bottom: 0;
}

.block {
    background-color: #e9eae2;;
    /*border: 1px solid green;*/
    height: 100px;
    /*display: table;*/
}

/*header*/
.header-logo {
    height: 415px;
    width: 318px;
    margin-left: 338px;
    margin-top: 100px;
}

.header-abbreviation {
    font-size: 36px;
    margin-bottom: 124px;
    padding-top: 5px;
}

.social-icons a {
    color: #7bcbc1;
    font-size: 45px;
    text-decoration: none;
    padding: 15px;
}

.header-img {
    margin-left: 90px;
    margin-top: 148px;
    width: 77%;
}

.chairs {
    width: 95%;
}

.header-menu {
    height: 1000px;
    max-width: 100%;
    background: #7dcec9;
    position: relative;
    z-index: 1;
}

/*burger-menu*/
.burger-menu {
    margin-top: 100px;
    margin-left: 350px;
    position: relative;
    z-index: 1;
}

.img-close-box {
    padding: 0;
    margin-left: 1080px;
    margin-top: -50px;
    margin-bottom: 45px;
}

.header-contact {
    text-transform: uppercase;
    font-size: 26px;
    color: white;
    margin-left: 120px;
    margin-top: 182px;
}

.contact-header {
    text-transform: uppercase;
    font-size: 26px;
    color: white;
    margin-left: 274px;
    margin-top: 60px;
}

.line {
    position: absolute;
}

.navigation {
    margin-top: -250px;
}

#burger-menu-open {
    color: white;
    padding: 110px 0 10px 10px;
    margin-left: -750px;
    background: #f8c255;
    margin-right: 330px;
}

#burger-menu-open a {
    margin-right: 50px;
    margin-left: 50px;
    text-decoration: none;
    position: relative;
    z-index: 1;
}

nav div a:first-child {
    padding-left: 40px;
}

nav div a:last-child {
    padding-left: 35px;
}

.burger-menu-open a {
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
    font-size: 28px;
}

#close {
    font-size: 120px;
}

#burger-menu-id.hidden {
    visibility: hidden;
}

.burger-menu:hover {
    box-shadow: 0 0 8px 8px #f8c255;
}

.burger-menu-open.hidden {
    visibility: hidden;
}

.line {
    z-index: 0;
}

/*projects*/

.row-project {
    height: 100%;
    background-color: #ebb240;
    margin-top: -150px;
}

.project-types {
    color: white;
    text-transform: uppercase;
    font-size: 26px;
    margin-left: 145px;
    padding-top: 350px;
}

.project-types-all {
    color: black;
}

.project-arrow-rl {
    margin-left: -45px;
}

.projects {
    color: white;
    text-transform: uppercase;
    font-size: 96px;
    margin-left: 185px;
    margin-top: 150px;
}

/*freancesco dompieri*/
#francesco-dompieri {
    background-color: #fefefe;
}

.fondue-wrapper {
    margin-top: 175px;
    margin-left: 206px;
}

.lamp {
    z-index: 0;
    margin-top: -625px;
    margin-left: 220px;
}

.project-fondue {
    font-size: 48px;
}

.francesco-dompieri {
    font-size: 26px;
    text-transform: uppercase;
}

.view-project {
    font-size: 36px;
    margin-top: 155px;
    margin-left: 30px;
}

.view-project a {
    text-decoration: none;
    color: black;
}

.project-arrow-rl {
    color: black;
}

.heart-project {
    margin-top: -280px;
    margin-left: 160px;
}

.heart-project p {
    color: red;
    font-size: 22px;
    margin-top: 10px;
}

/*potter*/
#potter {
    background-color: #dfe0d9;
}

.potter-wrapper {
    margin-left: 92px;
    margin-top: 75px;
    font-family: 'Roboto Condensed', sans-serif;
}

.project-potter {
    font-size: 48px;
}

.for-stelton {
    font-size: 24px;
}

.view-project-potter {
    font-size: 36px;
}

.view-project-potter a {
    text-decoration: none;
    color: black;
}

.heart-project-potter {
    margin-top: -85px;
    margin-left: 120px;
}

.heart-project-potter p {
    color: red;
    font-size: 22px;
    margin-top: 10px;
}

.potter-img {
    margin-top: -370px;
    margin-left: 350px;
}

/*phillipe stark*/
#philippe-starck {
    background-color: #757c87;
    background-image: url("img/bg/phillippe_bg_img.jpg");
}

.louis-wrapper {
    margin-left: 64px;
    margin-top: 80px;
}

.project-louis {
    font-size: 48px;
    color: white;
}

.philippe-starck {
    font-size: 24px;
    color: white;
}

.view-project-philippe {
    margin-top: 80px;
    font-size: 36px;
}

.view-project-philippe a {
    text-decoration: none;
    color: white;
}

.heart-project-philippe {
    margin-left: 130px;
}

.heart-project-philippe p {
    color: red;
    font-size: 22px;
    margin-top: 10px;
}

/*patrick norguet*/
#patrick-norguet {
    background-color: #eaeaea;
}

.patrick-norguet-wrapper {
    margin-top: 180px;
    margin-left: 725px;
}

.project-patrick-norguet {
    font-size: 48px;
}

.patrick-norguet {
    font-size: 26px;
}

.patrick-img {
    margin-top: -300px;
    margin-left: -890px;
    z-index: 0;
}

.view-project-patrick {
    margin-left: 400px;
    margin-top: -230px;
    font-size: 36px;
    z-index: 1;
    position: relative;
}

.view-project-patrick a {
    text-decoration: none;
    color: black;
    z-index: 1;
    position: relative;
}

.heart-project-patrick {
    margin-left: 520px;
    z-index: 1;
    position: relative;
    padding-top: 20px;
}

.heart-project-patrick p {
    color: red;
    font-size: 22px;
    margin-top: 10px;
}

/*patricia urquiola*/
#patricia-urquiola {
    background-color: #f7f7f3;
}

.patricia-wrapper {
    margin-left: 120px;
}

.patricia-img {
    margin-top: 40px;
    margin-left: 145px;
}

.project-patricia {
    font-size: 48px;
}

.patricia-urquiola {
    font-size: 26px;
    color: black;
}

.view-project-patricia {
    margin-left: 370px;
    margin-top: -150px;
    font-size: 36px;
    z-index: 1;
    position: relative;
}

.view-project-patricia a {
    text-decoration: none;
    color: black;
    z-index: 1;
    position: relative;
}

.heart-project-patricia {
    z-index: 1;
    position: relative;
    margin-left: 680px;
    margin-top: -70px;
}

.heart-project-patricia p {
    color: red;
    font-size: 22px;
    margin-top: 10px;
}

/*gianfranco frattini*/
#gianfranco-frattini {
    background-color: white;
}

.gianfranco-img {
    margin-top: 50px;
    margin-left: 260px;
}

.gianfranco-wrapper {
    margin-left: 305px;
}

.project-gianfranco {
    font-size: 48px;
}

.gianfranco-frattini {
    font-size: 26px;
    color: black;
}

.view-project-gianfranco {
    margin-left: 430px;
    margin-top: -150px;
    font-size: 36px;
    z-index: 1;
    position: relative;
}

.view-project-gianfranco a {
    text-decoration: none;
    color: black;
    z-index: 1;
    position: relative;
}

.heart-project-gianfranco {
    z-index: 1;
    position: relative;
    margin-left: 780px;
    margin-top: -70px;
}

.heart-project-gianfranco p {
    color: red;
    font-size: 22px;
    margin-top: 10px;
}

/*piero lissoni*/
#piero-lissoni {
    background-color: #cecece;
}

.piero-img {
    margin-left: -250px;
    margin-top: -10px;
}

.piero-wrapper {
    margin-left: 305px;
    margin-top: -470px;
}

.project-piero {
    font-size: 48px;
}

.piero-lissoni {
    font-size: 26px;
    color: black;
}

.view-project-piero {
    padding-top: 20px;
    margin-left: -50px;
    font-size: 36px;
    z-index: 1;
    position: relative;
}

.view-project-piero a {
    text-decoration: none;
    color: black;
    z-index: 1;
    position: relative;
}

.heart-project-piero {
    z-index: 1;
    position: relative;
    margin-left: 80px;
    padding-top: 18px;
}

.heart-project-piero p {
    color: red;
    font-size: 22px;
    margin-top: 10px;
}

/*cuno frommhertz*/
#cunno-frommhertz {
    background-color: white;
    position: relative;
    z-index: 1;
}

.cuno-wrapper {
    margin-left: 500px;
    margin-top: -400px;
}

.cuno-img {
    margin-left: -40px;
    margin-top: 38px;
}

.project-cuno {
    font-size: 48px;
}

.cuno-frommhertz {
    font-size: 26px;
    color: black;
}

.view-project-cuno {
    font-size: 36px;
    z-index: 1;
    position: relative;
}

.view-project-cuno a {
    text-decoration: none;
    color: black;
    z-index: 1;
    position: relative;
}

.heart-project-cuno {
    z-index: 1;
    position: relative;
    margin-left: 80px;
}

.heart-project-cuno p {
    color: red;
    font-size: 22px;
    margin-top: 10px;
}

/*timeline*/
#last-row {
    background-color: #ebb240;
    color: white;
}

.line-row {
    margin-top: -400px;
    z-index: 0;
}

.projects-end-row {
    margin-top: -500px;
    margin-left: 200px;
    font-size: 26px;
}

.timeline {
    color: black;
}

.project-arrow-rl {
    margin-left: -75px;
    padding-right: 30px;
}

/*studio*/
#studio {
    background-color: #ff9b6d;
}

.studio {
    color: white;
    font-size: 96px;
    margin-top: 590px;
    margin-left: 430px;
}

#studio-text {
    background-color: #e9eae2;
}

.studio-text-wrapper {
    margin-left: 235px;
    margin-top: 190px;
}

.text-lorem {
    font-size: 36px;
    font-weight: bold;
    font-style: italic;
    line-height: 0.9em;
}

.text-aeneam {
    font-size: 36px;
    line-height: 0.9em;
}

#awards {
    background-color: #e9eae2;
}

.awards-wrapper {
    margin-left: 50px;
    width: 720px;
    margin-top: 200px;
}

.img-awards {
    width: 720px;
    height: 400px;
}

.awards {
    font-size: 28px;
    font-weight: bold;
}

.left-column {
    font-size: 24px;
    margin-top: 50px;
    text-transform: uppercase;
}

.right-column {
    font-size: 24px;
    margin-left: 400px;
    margin-top: -150px;
    text-transform: uppercase;
}

/*designers*/
.staff-wrapper {
    margin-left: 340px;
    margin-top: 135px;
}

.staff {
    font-size: 26px;
    line-height: 1.4em;
}

.text-sit-amet {
    font-size: 26px;
    line-height: 1.4em;
}

.img-container {
    margin-top: 120px;
    width: 540px;
    height: 300px;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}

/*philipe stark*/
.img-philipe-stark {
    margin-top: -105px;
}

.philippe-starck-designer {
    font-size: 26px;
    margin-left: 5px;
    margin-top: 40px;
}

.cv {
    margin-left: 5px;
}

.cv a {
    text-decoration: none;
}

.cv a p:hover {
    color: red;
    font-weight: bold;
}

.cv p {
    font-size: 28px;
    color: #fd5000;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.img-arrow-left-cv {
    margin-left: 50px;
    margin-top: -93px;
}

.social-icons-designer {
    margin-left: 300px;
    margin-top: -50px;
}

.designer-social-icons {
    margin-left: 30px;
}

.designer-social-icons a {
    color: #fd5000;
    font-size: 28px;
    text-decoration: none;
    padding: 12px;
}

/*mario bellini*/
.img-mario-bellini {
    margin-top: -105px;
    margin-left: -280px;
}

.mario-bellini-designer {
    font-size: 26px;
    margin-left: 5px;
    margin-top: 40px;
}

/*patricia urquiola*/
.urquiola-wrapper-cv {
    margin-left: 600px;
    margin-top: -579px;
}

.img-patricia-urquiola {
    margin-left: -50px;
}

.patricia-urquiola-designer {
    font-size: 26px;
    margin-left: 5px;
    margin-top: 40px;
}

/*news*/
#news {
    background-color: #d4edbf;
}

#news p {
    color: white;
    font-size: 96px;
    margin-top: 570px;
    margin-left: 435px;
}

.img-news-container {
    margin-top: 20px;
    width: 745px;
    height: 360px;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}

#news1 {
    background-color: #e5e9df;
}

.news1-wrapper {
    margin-left: 205px;
    margin-top: 160px;
    width: 750px;
}

.text-mauris {
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
}

.date {
    font-size: 24px;
    margin-top: -40px;
}

.news1-img {
    width: 745px;
    height: 365px;
    zoom: 160%;
}

.text-maecenas {
    text-align: justify;
    font-size: 24px;
    word-spacing: 12px;
}

.date2 {
    font-size: 24px;
    padding-top: 12px;

}

.read-more {
    font-size: 24px;
    color: #fd5000;
    text-align: right;
}

.news1-wrapper a {
    text-decoration: none;
}

#news2 {
    background-color: #e5e9df;
}

.news2-wrapper {
    margin-left: 5px;
    margin-top: 160px;
    width: 750px;
}

.prion {
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
}

.news2-img {
    margin-top: -150px;
    margin-left: -30px;
    width: 525px;
    height: 485px;
    zoom: 180%;
}

.praesent {
    text-align: justify;
    font-size: 24px;
    word-spacing: 11px;
}

.news2-wrapper a {
    text-decoration: none;
}

.read-more2 {
    font-size: 24px;
    color: #fd5000;
    text-align: right;
    margin-top: 50px;
}

/*footer section*/
#footer-map {
    background-color: #e9eae2;
}

.footer-map-img {
    height: 1265px;
}

.pin-map {
    margin-top: -720px;
    margin-left: 620px;
}

#contacts {
    background-color: #e9eae2;
}

.contacts-wrapper {
    margin-left: 235px;
    margin-top: 300px;
}

.contacts-california {
    text-transform: uppercase;
    font-size: 26px;
}

.footer-logo {
    margin-left: 600px;
    margin-top: -247px;
}

.footer-slogan {
    font-size: 36px;
    margin-bottom: 124px;
    margin-top: 10px;
}

.all-rights-reserved {
    font-size: 24px;
    margin-top: 140px;
    margin-left: 230px;
}

.copy-symbol {
    margin-bottom: -55px;
    margin-left: -40px;
}

.container.block {
    flex-flow: column wrap;
    align-content: space-between;
    height: 7600px;
}

.container.block::before,
.container.block::after {
    content: "";
    flex-basis: 100%;
    width: 0;
    order: 2;
}

.block .block {
    width: 33.3%;
    margin-bottom: 0;
}

.block .block:nth-child(1) {
    height: 13.15789%;
    width: 24.3333%;
}

.block .block:nth-child(2) {
    height: 13.15789%;
    width: 44.66667%;
    margin-left: -25.66667%;
}

.block .block:nth-child(3) {
    height: 13.15789%;
    width: 31%;
    margin-left: -35.58%;
}

.block .block:nth-child(4) {
    height: 13.15789%;
    width: 31%;
}

.block .block:nth-child(5) {
    height: 13.15789%;
    max-width: 38%;
    margin-left: -19%;
}

.block .block:nth-child(6) {
    height: 6.618421%;
    width: 31%;
    margin-left: -35.58%;
}

.block .block:nth-child(7) {
    height: 12.23684%;
    width: 20%;
}

.block .block:nth-child(8) {
    height: 12.23684%;
    width: 49.16667%;
    margin-left: -30%;
}

.block .block:nth-child(9) {
    height: 12.23684%;
    width: 31%;
    margin-left: -35.68%;
}

.block .block:nth-child(10) {
    height: 7.894737%;
    width: 49%;
}

.block .block:nth-child(11) {
    height: 7.894737%;
    width: 20%;
    margin-left: -1%;
}

.block .block:nth-child(12) {
    height: 6.513158%;
    width: 31%;
    margin-left: -35.58%;
}

.block .block:nth-child(13) {
    height: 13.15789%;
    width: 31%;
}

.block .block:nth-child(14) {
    height: 13.15789%;
    width: 33.3333%;
    margin-left: -19%;
}

.block .block:nth-child(15) {
    height: 7.934211%;
    width: 31%;
    margin-left: -35.58%;
}

.block .block:nth-child(16) {
    height: 10.28947%;
    width: 31%;
}

.block .block:nth-child(17) {
    height: 10.28947%;
    width: 20%;
    margin-left: -19%;
}

.block .block:nth-child(18) {
    height: 13.15789%;
    width: 35.6667%;
    margin-left: -35.6667%;
}

.block .block:nth-child(19) {
    height: 13.15789%;
    width: 31%;
}

.block .block:nth-child(20) {
    height: 13.15789%;
    width: 33.3333%;
    margin-left: -19%;
}

.block .block:nth-child(21) {
    margin-top: -2px;
    height: 10.28947%;
    width: 49%;
    margin-left: -49%;
}

.block .block:nth-child(22) {
    height: 16.73684%;
    width: 50%;
}

.block .block:nth-child(23) {
    height: 16.73684%;
    width: 50%;
}

.block .block:nth-child(24) {
    height: 13.15789%;
    width: 35.6667%;
    margin-left: -35.6667%;
}

.block .block:nth-child(3n+1) {
    order: 1;
}

.block .block:nth-child(3n+2) {
    order: 2;
}

.block .block:nth-child(3n) {
    order: 3;
}


/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 180em) {

    /*header*/
    .header-logo {
        height: 315px;
        width: 312px;
        margin-left: 38px;
        margin-top: 10px;
    }
    .project-types {
        color: black;
        text-transform: uppercase;
        font-size: 326px;
        margin-left: 145px;
        padding-top: 350px;
    }

    .wrapper {
        width: 100%;
        /*width: 3000px;*/
        margin: 0;
        padding: 0;
    }
}

/* On screens that are 600px or less, set the background color to olive */
/*@media screen and (max-width: 500px) {*/
    /*.wrapper {*/
        /*max-width: 400px;*/
    /*}*/

    /*.container {*/
        /*display: flex;*/
        /*margin-bottom: 0;*/
    /*}*/

    /*.block .block:nth-child(23) {*/
        /*height: 400px;*/
        /*width: 300px;*/
        /*margin-left: -1070px*/
    /*}*/
/*}*/